.nav__list {
  display: inline-flex;
  list-style: none;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(146, 165, 165);
  font-size: 18px;
}

.nav__link:hover {
  color: cadetblue;
}

.nav__link_active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  color: cadetblue;
  text-decoration: underline;
}
